body {
    background-color: black;
    margin: 0;
}

a {
    color: #b2b2b2; /* Цвет ссылок */
    text-decoration: none;
}
a:visited {
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}
a:active {
    color: #57b3c7; /* Цвет активных ссылок */
    text-decoration: none;
}
a:hover {
    color: #58bcff; /* Цвет при наведении на ссылку*/
    text-decoration: none;
}

body:before {
 content: '';
 position: fixed;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: -1;
 background: url("../Content/img/bg.jpg");
 -webkit-filter: blur(5px);
 opacity:0.4;
 background-size:cover;
}

/* header */

header {
    position:absolute;
    top: 7%;
    width:100%;
    margin: auto;
}
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

    ul li {
        list-style: none;
    }

        ul li a {
            position: relative;
            display: block;
            margin: 0 10px;
            padding: 5px 10px;
            color:white;
            font-size: 24px;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            overflow: hidden;
        }

            ul li a::before {
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                left: -100%;
                width: 100%;
                height: 4px;
                background: #58bcff;
                transition: 0.5s;
            }

            ul li a:hover {
                color: black;
            }

                ul li a:hover::before {
                    animation: animate .5s linear forwards;
                }

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }

    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }

    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

/* table home */

table{
    width:500px;
    margin:auto;
    border-spacing:0px;
}

th {
    font-weight: normal;
    border-bottom: 3px solid #58bcff;
    color: #58bcff;
    padding: 12px 24px;
}

td {
    color: #57b3c7;
    padding: 15px 24px;
}

/* about */

.aboutlogo div {
    position: absolute;
    right: 50%;
    margin-left: 50px;
    margin-top: -70px;
    z-index: -1;
}

.aboutlogo img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.abouttext div {
    margin-right: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transition: 0.6s;
}

.abouttext div:hover {
    transform: scale(1.05);
}

.abouttext p {
    padding: 15px;
    font-size: 1.4em;
    color: white;
    letter-spacing: 5px;
}

/* studio table */

.studio table {
    height: 100%;
}

.studio td {
    padding: 5px;
}

.studio div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.studio div:hover {
    transform: scale(1.05);
}

.studio img {
    border-radius: 10px;
}

.studio hr {
    background-color: black;
}

/* contact */

.contact {
    text-align: center;
    color: white;
    font-size: 20px;
}

.whatsapp {
    color: #fff;
    padding: 16px;
    border-radius: 50px;
    text-align: center;
    background-color: #27d064;
    font-family: Arial,sans-serif;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    transition: 0.6s;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.whatsapp:hover{
    color:white;
    transform:scale(1.05);
}

.telegram {
    color: #fff;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    background-color: #2f96db;
    font-family: Arial,sans-serif;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    transition: 0.6s;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.telegram:hover{
    color:white;
    transform:scale(1.05);
}

.telephone {
    color: #fff;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    background-color: #1d76d8;
    font-family: Arial,sans-serif;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    transition: 0.6s;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.telephone:hover {
    color: white;
    transform: scale(1.05);
}

.social {
    padding: 25px 0px 25px 0px;
}

.social a {
    padding: 10px;
}

.social img:hover{
    transform: scale(1.05);
}



/* footer */

.content {
    min-height: calc(100vh - 250px);
    margin: 100px;
}

.footer {
    color: white;
    text-align: center;
    height: 20px;
    font-size: 10px;
    opacity: 0.6;
}