
@{
    ViewBag.Title = "Record About";
}
<div class="aboutlogo">
    <div>
        <img src="~/Content/img/logo.png" />
    </div>
</div>

<div class="abouttext">
    <div>
        <p>
            Каждый человек хоть раз терял себя в забвении мирской суеты, и каждый находил себя благодаря родным людям, семье.
            Такой семьёй является и ZOO MOTION. Каждый из слушателей и участников объединения несомненно может рассчитывать на поддержку со стороны остальных.
            И если, говорят, остаться в сердцах тех, кого мы оставляем, — значит не умереть, то ZOO MOTION бессмертны.
        </p>
    </div>
</div>
