
@{
    ViewBag.Title = "Record Contact";
}

    <div style="text-align:center;color:white;font-size:20px;">
        <p>Наши контакты:</p>
        <div>
        <a href="https://api.whatsapp.com/send?phone=79920120058" target="_blank" style="        color: #fff;
        padding: 16px;
        border-radius: 50px;
        text-align: center;
        background-color: #27d064;
        font-family: Arial,sans-serif;
        max-width: 500px;
        margin: 0 auto;
        display: block;
    ">WhatsApp</a>
            <br />
            <a href="https://teleg.run/Grvbck" target="_blank" style="
        color: #fff;
        border-radius: 50px;
        padding: 16px;
        text-align: center;
        background-color: #2f96db;
        font-family: Arial,sans-serif;
        max-width: 500px;
        margin:0 auto;
        display:block;
    ">Telegram</a>
            <br />
            <a href="tel:+79920120058" target="_blank" style="        color: #fff;
        border-radius: 50px;
        padding: 16px;
        text-align: center;
        background-color: #1d76d8;
        font-family: Arial,sans-serif;
        max-width: 500px;
        margin: 0 auto;
        display: block;
    ">+7 (992) 012 00 58</a>
        </div>

        <div style="padding:25px 0px 25px 0px;">
            <p>Социальные сети:</p>
            <a href="https://vk.com/zoo_motion" target="_blank"><img src="~/Content/img/but_vk.png" style="padding:5px;" /></a>
            <a href="https://instagram.com/zoo_motion" target="_blank"><img src="~/Content/img/but_insta.png" style="padding:5px;" /></a>
            <a href="https://www.youtube.com/channel/UCJVCE3GAMK6f3rIU0BRwSBQ" target="_blank"><img src="~/Content/img/but_youtube.png" style="padding:5px;" /></a>
            <a href="https://soundcloud.com/fifth_zoo" target="_blank"><img src="~/Content/img/but_soundcloud.png" style="padding:5px;" /></a>
        </div>

        <p>Адрес: г.Сысерть ул.Тимирязева 41</p>
        <div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aace31f956056d6e9410fe37fc4a3c78addc177f159cd887ae9851e23cdb7ea41&amp;width=100%25&amp;height=511&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>

