
@{
    ViewBag.Title = "Record Contact";
}

    <div class="contact">
        <div>
            <p>Наши контакты:</p>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=79920120058" target="_blank">WhatsApp</a>
            <br />
            <a class="telegram" href="https://teleg.run/Grvbck" target="_blank">Telegram</a>
            <br />
            <a class="telephone" href="tel:+79920120058" target="_blank">+7 (992) 012 00 58</a>
        </div>

        <div class="social">
            <p>Социальные сети:</p>
            <a href="https://vk.com/zoo_motion" target="_blank"><img src="~/Content/img/but_vk.png" /></a>
            <a href="https://instagram.com/zoo_motion" target="_blank"><img src="~/Content/img/but_insta.png" /></a>
            <a href="https://www.youtube.com/channel/UCJVCE3GAMK6f3rIU0BRwSBQ" target="_blank"><img src="~/Content/img/but_youtube.png" /></a>
            <a href="https://soundcloud.com/fifth_zoo" target="_blank"><img src="~/Content/img/but_soundcloud.png" /></a>
        </div>

        <p>Адрес: г.Сысерть ул.Тимирязева 41</p>
        <div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aace31f956056d6e9410fe37fc4a3c78addc177f159cd887ae9851e23cdb7ea41&amp;width=100%25&amp;height=511&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>

