@{
    ViewBag.Title = "Record Main";
}

<div>
    <table>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Services</th>
            <th>Number</th>
            <th>Login</th>
        </tr>
        <tr>
            <td>2</td>
            <td>Иван</td>
            <td>Петров</td>
            <td>7327813</td>
            <td>semga</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Name</td>
            <td>Services</td>
            <td>Number</td>
            <td>Login</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Name</td>
            <td>Services</td>
            <td>Number</td>
            <td>Login</td>
        </tr>
    </table>
</div>