@{
    ViewBag.Title = "Record Main";
}

    <div class="index">
        <div>
            <img src="~/Content/img/bg.jpg" />
            <p><b>Мы можем предложить:</b></p>
            <p>— звукозапись и сведение (муз. треки, реклама, озвучка и т.д.);</p>
            <p>— создание аранжировок, написание текстов, съёмка видеоклипов;</p>
            <p>— акустическое помещение с полным комплектом музыкального оборудования.</p>
            <p><i>Внимание! Перед визитом к нам на студию нужно обязательно забронировать время.</i></p>

            <div class="music">
                <div>
                    <p><center>Примеры музыкальных работ:</center></p>
                    <hr />
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/700213642&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <hr />
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/603434958&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <hr />
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/408467439&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <hr />
                </div>
            </div>
        </div>
    </div>

