
@{
    ViewBag.Title = "Record Services";
}

<div>
    <table class="shop">
        <tr>
            <td>
                <a href="/Home/">
                    <div>
                        <img src="~/Content/img/img_1.jpg" />
                        <hr />
                        <p>Написание минусовок</p>
                        <hr />
                    </div>
                </a>
            </td>
            <td>
                <a href="/Home/">
                    <div>
                        <img src="~/Content/img/img_2.jpg" />
                        <hr />
                        <p>Мастеринг</p>
                        <hr />
                    </div>
                </a>
            </td>
            <td>
                <a href="/Home/">
                    <div>
                        <img src="~/Content/img/img_3.jpg" />
                        <hr />
                        <p>Сведение</p>
                        <hr />
                    </div>
                </a>
            </td>
            <td>
                <a href="/Home/">
                    <div>
                        <img src="~/Content/img/img_4.jpg" />
                        <hr />
                        <p>Запись</p>
                        <hr />
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>

