<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/body.css")
    <link rel="icon" href="@Url.Content("~/Content/img/zoo.ico")" />
</head>

<body>
    <header>
        <ul>
            <li><a href="/Home/">Home</a></li>
            <li><a href="/Home/About/">About</a></li>
            <li><a href="/Home/Studio/">Studio</a></li>
            <li><a href="/Home/Contact/">Contact</a></li>
        </ul>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer">
        <p>Copyright &copy; 2020 ZOO MOTION | Designer: 410GONE</p>
        <p>
            <a target="_blank" href="https://vk.com/zoo_motion">VK</a> |
            <a target="_blank" href="https://instagram.com/zoo_motion">INSTAGRAM</a> |
            <a target="_blank" href="https://www.youtube.com/channel/UCJVCE3GAMK6f3rIU0BRwSBQ">YOUTUBE</a>
        </p>
    </footer>
</body>
</html>